{% extends 'base.html' %}

{% block head %}
<title>mYOUsic</title>
{% endblock %}

{% block body %}
<container>
    <div class="position-relative overflow-auto p-3 p-md-5 m-md-3 text-center">
        <h1 class = " mb-5 display-4 font-weight-normal blue-text">Choose an Option</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow bg-white padding-box full-height">
                    <h4>Playlist Creator</h4>
                        <div class="card-body">
                            <p class="card-text">Create a new playlist by accepting/denying song suggestions that are <strong>not</strong> in any of your previous playlists!</p>
                            <form class = "p-3" action="" method="post" id = "playlist_frm">
                                <input id = "playlist_name" name="playlist-name" class="form-control m-3 mx-auto" placeholder="Playlist Name" aria-label="Playlist Name" aria-describedby="basic-addon2" type="text"required>
                                <input class="btn btn-bg btn-outline-secondary"type="submit" name = playlist-name-selector value = "Create">
                            </form>
                            <form class = "p-3" action="" method="post" id = "playlist_frm">
                                <select class="custom-select custom-select-sm" name = "playlist-name-selector" value = "readable-name" id = "alternate_playlist_name">
                                    {% for each in session['playlist-readable'] %}
                                        <option value="{{each}}">{{each}}</option>
                                    {% endfor %}
                                </select>
                                <input class="btn btn-bg btn-outline-secondary"type="submit">
                            </form>
                        </div>
                </div>
            </div>
        

        <div class="col-md-4">
            <div class="card mb-4 box-shadow bg-white padding-box full-height">
                <h4>Coming Soon</h4>
                    <div class="card-body">
                    <p class="card-text">Coming Out Soon!</p>
                        <div class="align-items-center button-center">
                            <a type="button" href = "#" class="btn btn-bg btn-outline-secondary ">N/A</a>
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow bg-white padding-box full-height">
                <h4>Coming Soon</h4>
                    <div class="card-body">
                    <p class="card-text">Coming Out Soon!</p>
                        <div class="button-center align-items-center">
                            <a type="button" href = "#" class="btn btn-bg btn-outline-secondary">N/A</a>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</container>
{% endblock %}